body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/*Heading*/
.mainHeader{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--2 {
    font-weight: 300px;
    font-size: 42px;
    color: white;
}

.header--5 {
    font-size: 21px;
    color: gray;
}

/*Links*/

.link--cta {
    font-size: 16px;
    color: aquamarine;
}
/*Footer*/

.copyright {
    font-size: 15px;
    color: gray;
    text-align: right;
}
